:root {
    --top-height: 3.5rem;
}



/* Estilos del main content */
.main-content {
    padding-left: 20px;
    padding-right: 20px;
}


.container {

    display: flex;

    height: 90vh;
    width: 100%;
}

/* Estilos específicos del chat */
.chat-container {
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.chat-box {
    height: 90%;
    overflow-y: scroll;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.message {
    background-color: #f8f9fa;
    padding: 10px 16px;
    border-radius: 30px;
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
    max-width: 70%;
    word-wrap: break-word;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

.message-content {
    padding: 10px 15px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
}

.message.user {
    float: right;
    background-color: #007bff;
    color: #fff;
}

.message.assistant {
    float: left;
    background-color: #f0f0f0;
    color: #333;
}

.input-box{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    width: 100%;
}

#user-input{
    flex-grow: 1;
    margin-right: 6px;
    border: none;
    outline: none;
    border-radius: 50px;
    height: 30px;
    font-size: 16px;
    background-color: #f8f9fa;
    padding: 10px 16px 10px 16px;
    width: 80%;
}

.sendButton {
  background-color: #007bff;
  border-radius: 40px;
  outline: none;
  border: none;
  padding: 14px 16px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 5px; /* Optional: adds spacing between buttons */
}

.sendButton:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

.sendButton:active {
  background-color: #3b9aff;
}







/* CODIGO PARA CALENDARIO INTERACTIVO */


/* Import Google font - Poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: #9B59B6;
} */
.wrapper {
  width: 400px; /* Adjust the width as per your layout */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

.wrapper header .icons {
  display: flex;
}

.wrapper header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.wrapper header .icons span:last-child {
  margin-right: -10px;
}

.wrapper header .icons span:hover {
  background: #f2f2f2;
}

.wrapper header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.calendar {
  padding: 20px;
  height: 400px; /* Adjust the height as needed */
  /* overflow-y: auto; Add scrollbars if necessary */
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .weeks li,
.calendar .days li {
  color: #333;
  width: calc(100% / 7);
  font-size: 0.9rem; /* Increase the font size of the days */
  padding: 10px 0; /* Add padding to improve spacing */
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  margin-top: 20px; /* Decreased margin for tighter spacing */
  cursor: pointer;
  position: relative;
}

.calendar .days li.inactive {
  color: #aaa;
}

.calendar .days li.active {
  color: #fff;
  background-color: #5CACF2; /* Highlight background color */
  border-radius: 50%; /* Rounded highlight effect */
}

.calendar .days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar .days li.active::before {
  background: #5CACF2;
}

.calendar .days li:not(.active):hover::before {
  background: #f2f2f2;
}

.clickable {
  cursor: pointer;
}

/*Cristian*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.chart-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 10px;
}
.chart-container canvas {
  max-width: 100%;
}

/*Fin Cristian*/



/* -- CSS para layout de dashboard cards en inicio -- */

body.index-page {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  background-color: #f0f0f0; /* Optional: Background color */
}

h1 {
  font-size: 2rem; /* Adjust font size */
  margin-bottom: 20px; /* Space between heading and container */
  text-align: center; /* Center text */
  color: #333; /* Optional: Text color */
}

/* Styles specific to index.html */
.index-page .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
    width: 90%; /* Adjust width as needed */
    /* max-width: 100%; Optional: Set a max width */
    background: #ffffff; /* Background color for the container */
    padding: 1px; /* Padding inside the container */
    border-radius: 10px; /* Optional: Round corners */
    box-shadow: 0 4px 8px rgb(255, 255, 255); /* Optional: Add shadow */
  grid-template-areas:
      "humedad-tierra humedad-aire temp"
      "vientos Radiacion-Solar Calendario"
      "Consumo-Agua Consumo-Agua Calendario";
}

.index-page .humedad-tierra {
  grid-area: humedad-tierra;
}

.index-page .humedad-aire {
  grid-area: humedad-aire;
}

.index-page .temp {
  grid-area: temp;
}

.index-page .vientos {
  grid-area: vientos;
}

.index-page .Radiacion-Solar {
  grid-area: Radiacion-Solar;
}

.index-page .Calendario {
  grid-area: Calendario;
}

.index-page .Consumo-Agua {
  grid-area: Consumo-Agua;
}

.index-page .chart-container,
.index-page .Consumo-Agua,
.index-page .Radiacion-Solar,
.index-page .vientos,
.index-page .temp,
.index-page .humedad-aire,
.index-page .humedad-tierra {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 10px;
}

.index-page .chart-container canvas {
  max-width: 100%;
}

.chart-container canvas {
  max-width: 100%;
}


.index-page .Consumo-Agua {
  background-image: url('/static/water.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.index-page .Consumo-Agua .card-body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items at the start (top) vertically */
  height: 100%; /* Ensure the card body takes up full height */
  padding: 20px; /* Add padding inside the card body */
  background-color: transparent; /* Remove semi-transparent background color */
}

.index-page .Consumo-Agua .card-title {
  font-size: 2rem; /* Adjust the font size for the card title */
  margin-bottom: 10px; /* Optional: Add some margin below the title */
  text-align: left; /* Align title text to the left */
  color: #333; /* Set title text color to black */
}

.index-page .widget-content {
  font-size: 10rem; /* Adjust the font size for the water consumption text */
  text-align: center; /* Center the text horizontally */
  margin-top: 10px; /* Adjust margin as needed */
  color: #333;
}