{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->

        <!-- Main content -->
        <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Manual</h1>
            </div>
                
            <!-- Info 1 -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">¿Qué hacemos?</h5>
                        <p>A través de esta herramienta, usted puede monitorear la información meteorológica de 
                            su zona y recibir alertas sobre situaciones anómalas en su plantación. Además, mediante dashboards
                             interactivos, puede visualizar datos detallados de sus plantaciones. También dispone de un chat 
                             inteligente especializado en el área de riego y legislación de aguas chilenas. Con esta
                              herramienta, usted puede tomar decisiones más informadas y eficientes para aumentar las
                               ganancias y preservar sus recursos hídricos.</p>
                    </div>
                </div>
            </div>

            <!-- Info 2 -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Funciones del Sistema</h5>
                        <p><b>Inicio:</b> Se muestra información meteorológica actual e historica de su zona.</p>
                        <p><b>Dashboard:</b> Se muestran registros de su plantación.</p>
                        <p><b>Chat inteligente:</b> Se pueden hacer consultas en modalidad de chat a una inteligencia artificial experta en el área de riego.</p>
                        <p><b>Preguntas Frecuentes:</b> Puede elegir entre una selección de preguntas frecuentes y relevantes para la toma de decisiones..</p>
                        <p><b>Manual:</b> Puedes aprender sobre el funcionamiento de este sistema.</p>
                    </div>
                </div>
            </div>


            <!-- Info 3 -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Videos</h5>
                        <p><b>Video01:</b></p>
                    </div>
                </div>
            </div>
            
        </main>
    </div>
</div>

{% endblock %}
